$legacy-support-for-ie: false;
$support-for-original-webkit-gradients: false;
$experimental-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft:false;
$experimental-support-for-khtml: false;
@import "compass";
$bg: #eee;
$bc: #aaa;
$p: 10px;
$m: $p;
$fc: #555;
$fc_light: #fff;
$fc_critical: hsl(0,90%,50%);
$fc_warning: hsl(30, 93%, 37%);
$bg_selection: hsl(180,50%,30%);
$r: 5px;
@import "reset";